<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('img/favicon.png')}}" rel="icon">
        {% block stylesheets %}
            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

            <!-- Vendor CSS Files -->
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
            <link href="{{ asset('vendor/aos/aos.css')}}" rel="stylesheet">
            <link href="{{ asset('vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
            <link href="{{ asset('vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

            <!-- Variables CSS Files -->
            <link href="{{ asset('css/variables.css')}}" rel="stylesheet">

            <!-- Template Main CSS File -->
            <link href="{{ asset('css/main.css')}}" rel="stylesheet">

        {% endblock %}

        {% block javascripts %}
            <!-- Vendor JS Files -->
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{ asset('vendor/aos/aos.js')}}"></script>
            <script src="{{ asset('vendor/glightbox/js/glightbox.min.js')}}"></script>
            <script src="{{ asset('vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
            <script src="{{ asset('vendor/swiper/swiper-bundle.min.js')}}"></script>
            <script src="{{ asset('vendor/php-email-form/validate.js')}}"></script>

            <!-- Template Main JS File -->
            <script src="{{ asset('js/main.js')}}"></script>
        {% endblock %}
    </head>
    
    <body>
        {% include 'layout/header.html.twig' %}
            {% block body %}{% endblock %}
        {% include 'layout/footer.html.twig' %}
    </body>
</html>
