{% extends 'base.html.twig' %}

{% block title %}Hello EmployeeListController!{% endblock %}

{% block body %}
<style>
    .content {
        text-align: center;
        color: rgb(74,88,102);
        margin-top: 200px;
    }
    h1 {
        font-weight: lighter;
        margin-bottom: 15px;
    }
    p {
        opacity: 0.7;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .employee_container {
        margin: 100px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .employee_container img {
        width: 300px;
        height: 300px;
        border: 1px solid #bacbe6;
        border-radius: 8px;
    }

    .employee_container div {
        box-shadow: 0px 0px 10px 1px rgba(210, 210, 222, 0.75);
        width: 190px;
        position: relative;
        bottom: 30px;
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .employee_container div h2 {
        font-size: 17px;
        margin-top: 10px;
    }

    .employee_container div p {
        font-size: 12px;
    }

</style>

<div class="content">
    <h1>Our Team</h1>
    <p>Lorem Ipsum sum sum blablabla notre équipe est trop bien</p>
    <div class="container">
        {% for employee in employees %}
        <div class="employee_container">

            <img src="assets/img/team/team-{{random(1,3)}}.jpg">
            <div>
                <h2>{{ employee.name }}</h2>
                <p>{{ employee.description|slice(0,30) }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
